body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(world.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: rgb(183, 217, 246);
  padding: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 30px 0;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 43px;
  font-weight: bold;
}

.time small {
  font-size: 20px;
  line-height: 48px;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: rgb(52, 3, 251);
}

strong {
  color: rgb(46, 6, 246);
}

footer {
  padding-top: 40px;
  text-align: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}
