h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
}

h2 {
  margin: 0 0 10px;
  font-size: 25px;
}

body {
  background-color: azure;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: aliceblue;
  padding: 40px;
  box-shadow: rgba(120, 120, 115, 0.2) 0px 10px 30px 0px;
  border-radius: 10px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-bottom: 1px dashed burlywood;
  padding: 20px 0;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 44px;
  font-weight: bold;
}

.time small {
  font-size: 22px;
  line-height: 36px;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

strong {
  color: darkcyan;
}

footer {
  text-align: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}
